*{
    box-sizing: border-box;
    color: black;
    font-family: 'Perpetua';
    font-size: 20pt;
    margin: 0;
    padding: 0;
}

:root {
    --principal:#17181f;
    --second: #314d4a;
    --third: #f4f3d8;
    --main-content: rgba(255, 255, 255,0.5);
    --invalid : rgba(211, 8, 8,0.5);
}

body {
    background-image: url('../assets/Background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.logo{
    margin: 10px;
}

.logo img {
    height: 150px;
}

.main-content{
    background-color: var(--main-content);
    margin: auto;
    width: 100%;
}

.nav-list li{
    margin: 25px 10px;
}

.profile-info h1{
    color: var(--principal);
    font-size: 70pt;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 1.2;
    padding-top: 50px;
}

.profile-info h2{
    color: var(--principal);
    font-size: 60pt;
    font-style: italic;
    line-height: 1.2;
    margin-top: -50px;
}

.profile-info p {
    color: var(--principal);
    margin-top: 100px;
}

.sidebar {
    background-color: var(--third);
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    top: 0;
    width: 150px;
}

.tech-stack-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px;
    width: 50%;
}

.tech-stack-icons svg{
    height: 50px;
    margin: 30px;
}

footer{
    position: relative;
}

.social {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: -130px;
}

.social svg {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.copyright {
    color: white;
    font-size: 15pt;
    padding: 10px;
    text-align: end;
}
  
  
  