@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
    --principal:#17181f;
    --second: #314d4a;
    --third: #f4f3d8;
    --main-content: rgba(255, 255, 255,0.5);
}

*{
    box-sizing: border-box;
    color: var(--principal);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;   
    font-size: 20pt;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: url('../assets/Background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.logo{
    padding: 10px;
}

.logo img {
    height: 150px;
}

.nav-list li{
    padding: 25px 10px;
}

.nav-list a {
    position: relative;
}

.nav-list a:hover{
    font-weight: 400;
}

.nav-list a.active {
    font-weight: 400;
}

.nav-list a::before{
    content: '';
    position: absolute;
    top: 100%;
    right: -10px;
    width: 0;
    height: 4px;
    background: var(--second);
    transition: 0.6s all ease;
}

.nav-list a:hover::before {
    width: 80%;
}

.nav-list a.active::before {
    width: 80%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-between;
    width: 50%;
}

.profile-info h1{
    font-size: 70pt;
    font-weight: 400;
    font-style: italic;
}

.profile-info h2{
    font-size: 60pt;
    font-style: italic;
    margin-top: -35px;
    padding-right: 350px;
    text-align: center;
}

.profile-info p {
    font-size: 30pt;
    text-align: end;
}

.sidebar {
    background-color: var(--third);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    top: 0;
    width: 150px;
}

.tech-stack-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    transition: 0.6s all ease;
}

.tech-stack-icons svg{
    height: 80px;
}

.tech-icon {
    padding: 30px;
}

footer{
    align-self: flex-end;
    position: relative;
}

.social {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: -140px;
}

.social svg {
    fill: var(--principal);
    height: 60px;
    padding: 5px;
    transition: 0.6s all ease;
}

.social svg:hover {
    fill: var(--third);
}

.copyright {
    color: var(--third);
    font-size: 15pt;
    padding: 10px;
    text-align: end;
}

.profile-photo{
    padding: 50px;
}

.profile-photo img{
    height: 600px;
    border-radius: 8%;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 100px;
    width: 40%;
    height: 600px;
}

.profile h1 {
    font-size: 50pt;
    font-weight: 400;
}

.profile p {
    font-size: 25pt;
}

.main-content-home{
    align-items: center;
    background-color: var(--main-content);
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
    width: 100vw;
}

.main-content-about{
    align-items: center;
    background-color: var(--main-content);
    display: flex;
    height: 90vh;
    justify-content: center;
    width: 100vw;
}

.main-content-projects{
    align-items: center;
    background-color: var(--main-content);
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
    width: 100vw;
}

.slider {
    position: relative
}

.tech-stack{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 25%;
    transition: 0.6s all ease;
}
 
.tech-stack-info svg{
    width: 100px;
    cursor: pointer;
}
  

.tech-stack-info p{
    font-size: 30pt;
}

.tech-stack-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.btn svg {
    cursor: pointer;
    fill: var(--principal);
    height: 80px;
    position: absolute;
    top: 40%;
    right: 20%;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0;
}

  