<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Camila Mejia</title>
</head>
<body>
    <header>
        <div class="logo"><img src="../assets/CM-logo.png" alt="CM-logo"></div>
    </header>
    <main>
        <div class="sidebar">
            <ul class="navList">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">CV</a></li>
            </ul>
        </div>
        <section class="profile">
            <div class="profileInfo">
                <p>Maria Camila</p>
                <p>Mejia</p>
                <p>Software Engineer</p>
            </div>
            <div class="profilePhoto">
                <img src="../assets/profile-photo.png" alt="profile-photo">
            </div>
        </section>
        <section class="featureProjects">
            <ul class="featureProjectList">
                <li>camilamejia.dev</li>
                <li>valpez.com</li>
            </ul>
        </section>
        <section class="techStack">
            <ul class="techList">
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Java</li>
                <li>Python</li>
                <li>MySQL</li>
                <li>NodeJS</li>
                <li>ExpressJS</li>
                <li>ReactJS</li>
                <li>GraphQL</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <div>Technologies</div>
        </section>

    </main>
    <footer>
        <ul class="social">
            <li>LinkedIn</li>
            <li>GitHub</li>
            <li>Devpost</li>
            <li>Instagram</li>
        </ul>

    </footer>
    
</body>
</html>